html {
  overflow-x: hidden;
}

.body {
  height: 3028px;
  overflow-x: hidden;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  max-width: 1100px;
  margin: 0 auto;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  top: 133px;
  left: 50px;
  margin: 133px 36px 138px 50px;
}

.header__link_active {
  text-decoration: underline;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
  top: 92px;
  left: 478px;
}

.header__address {
  width: 240px;
  height: 98px;
  top: 95px;
  left: 810px;
  border-width: 1px;
  margin-left: 184px;
  line-height: 24.3px;
  margin-bottom: 12px;
}

.address {
  justify-self: start;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
}

.adress-item {
  list-style: none;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.cover {
  background-image: url("/images/cover.jpg");
  background-size: cover;
  background-position: center;
  height: 757px;
  width: 100%;
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
}
.cover__title {
  width: 1000px;
  height: 385px;
  margin: 0 auto;
  padding-top: 165px;
}
.aligned-text {
  display: block;
  color: white;
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 100px;
  line-height: 114.99999999999999%;
  letter-spacing: 30%;
  text-transform: uppercase;
}

.aligned-text_center {
  text-align: center;
  margin-top: 26px;
  margin-left: 24px;
}

.aligned-text_right {
  text-align: right;
  margin-top: 21px;
  margin-left: 20px;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  margin-right: -30px;
}

.cover__description {
  position: absolute;
  bottom: 50px;
  height: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 104px;
}

.cover__description-text {
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  word-spacing: 19px;
  color: white;
  margin-left: 49px;
  margin-bottom: -1px;
}

.bet-button {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 13px 33px 13px 32px;
  text-transform: uppercase;
  cursor: pointer;
  justify-content: flex-end;
  font-family: Raleway;
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.lots {
  padding: 180px 24px 0px 24px;
  margin-top: 8px;
  max-width: 1100px;
  margin: 0 auto;
}

.lots__heading {
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding: 0px 891px 27px 40px;
  margin-top: -8px;
}

.card {
  width: 334px;
  height: 596px;
  flex-direction: column;
  color: white;
  position: relative;
  justify-content: center;
  margin-top: 6px;
}

.card__title {
  height: 100%;
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-decoration: underline;
  padding: 48px 40px 0px;
}

.card__text {
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  padding: 0px 40px 48px;
}

.lots__card-list {
  list-style: none;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.lots__card-list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card_type_film {
  background-image: url("/images/card-lot-01.jpg");
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url("/images/card-lot-02.jpg");
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url("/images/card-lot-03.jpg");
  background-position: center;
  background-size: cover;
}

.lots__look-more-link {
  text-decoration: underline;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  display: block;
  margin-top: 34px;
  margin-left: 40px;
}

.about {
  display: flex;
  gap: 72px;
  margin: 35px 0 193px 47px;
  align-items: flex-start;
  padding: 120px 24px 180px 24px;
  height: 595px;
  max-width: 1100px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding: 101px 402px 100px 0px;
  white-space: nowrap;
  margin-top: 3px;
}

.about__text {
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  margin-top: 4px;
  word-spacing: 0px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  max-width: 1100px;
  height: 180px;
  padding: 0px 24px 0 24px;
  margin-left: 24px;
  margin-top: 205px;
}

.address__footer {
  line-height: 24.3px;
  letter-spacing: 0%;
  margin-bottom: -30px;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  padding-right: 50px;
  justify-self: end;
  margin-top: -8px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.footer__menu {
  justify-self: center;
  margin-top: 2px;
  margin-right: 50px;
}

.footer__menu-link_active {
  list-style: none;
}

.footer__menu-link {
  text-decoration: underline;
}

.footer__menu-list-item {
  list-style: none;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 4px;
}
