html, body {
  overflow-x: hidden;
}

/* Добавляем основной контейнер для ограничения ширины */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  max-width: 1100px; /* Ограничиваем ширину */
  margin: 0 auto; /* Центрируем */
  box-sizing: border-box;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: none;
  margin: 133px 36px 138px 50px;
  /* Убраны фиксированные width и height */
}

.header__link_active {
  text-decoration: underline;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.header__address {
  width: 240px;
  line-height: 24.3px;
}

.adress-item {
  list-style: none;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.cover {
  background-image: url("/images/cover.jpg");
  background-size: cover;
  background-position: center;
  height: 757px;
  width: 100%;
  position: relative;
  max-width: 1100px; /* Ограничиваем ширину */
  margin: 0 auto; /* Центрируем */
  box-sizing: border-box;
}

.cover__title {
  width: 1000px;
  height: 385px;
  margin: 0 auto;
  padding-top: 165px;
  box-sizing: border-box;
}

.aligned-text {
  display: block;
  color: white;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text_center {
  text-align: center;
  margin-top: 26px;
  margin-left: 24px;
}

.aligned-text_right {
  text-align: right;
  margin-top: 21px;
  margin-left: 20px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  margin-right: -30px;
}

.cover__description {
  position: absolute;
  bottom: 50px;
  height: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 104px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.cover__description-text {
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 19px;
  color: white;
}

.bet-button {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 13px 33px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: Raleway;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
}

.lots {
  padding: 180px 24px 0px 24px;
  margin-top: 8px;
  max-width: 1100px; /* Ограничиваем ширину */
  margin-left: auto; /* Центрируем */
  margin-right: auto;
  box-sizing: border-box;
}

.lots__heading {
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  padding: 0 0 27px 40px;
}

.card {
  width: 334px;
  height: 596px;
  color: white;
  position: relative;
}

.card__title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  padding: 48px 40px 0px;
}

.card__text {
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  padding: 0px 40px 48px;
}

.lots__card-list {
  list-style: none;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center; /* Центрируем карточки */
}

.lots__card-list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card_type_film {
  background-image: url("/images/card-lot-01.jpg");
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url("/images/card-lot-02.jpg");
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url("/images/card-lot-03.jpg");
  background-position: center;
  background-size: cover;
}

.lots__look-more-link {
  text-decoration: underline;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  display: block;
  margin-top: 34px;
  margin-left: 40px;
}

.about {
  display: flex;
  gap: 72px;
  align-items: flex-start;
  padding: 120px 24px 180px 24px;
  max-width: 1100px; /* Заменяем width на max-width */
  margin: 35px auto 193px; /* Центрируем */
  box-sizing: border-box;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  padding: 101px 0 100px 0;
  white-space: nowrap;
  margin-top: 6px;
}

.about__text {
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  margin-top: 5px;
}

/* ИСПРАВЛЕННЫЙ ФУТЕР */
.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  max-width: 1100px; /* Заменяем width на max-width */
  height: 180px;
  padding: 0 24px;
  margin: 205px auto 0; /* Центрируем и убираем margin-left */
  box-sizing: border-box;
}

.address {
  justify-self: start;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  margin-top: 38px;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  justify-self: end;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.footer__menu {
  justify-self: center;
  margin-top: 6px;
}

.footer__menu-list {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__menu-link {
  text-decoration: underline;
}

.footer__menu-list-item {
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}